.form-input:focus,
textarea:focus,
.form-input-amount:focus {
  outline: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.form-input,
textarea {
  border: 1px solid #eeeeee;
  color: #171726 !important;
}
.form-input {
  padding: 15px !important;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
